html,
body {
	font-size: 100%;
	font-family: 'Raleway', sans-serif;
	background: $gray_100;
	color: $gray_800;
}

.wrapper {
	background: #fff;
	width: 90%;
	margin: 2em auto;
	border-radius: 4px;
	overflow: hidden;
}

.content-well {
	padding: 1em;
	border: 1px solid $gray_400;
	background: $gray_20;
	border-radius: 4px;

	p:last-child {
		margin-bottom: 0;
	}

	a {
		color: $primary;
		text-decoration: none;
		font-weight: bold;

		&:hover {
			text-decoration: underline;
			color: adjust-color($primary, $lightness: -3%);
		}
	}
}

.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
}
