.character-count {
  background: $gray_300;
  border: 1px solid $gray_400;
  padding: .5em;
  display: inline-block;
  border-radius: 4px;
  font-size: .9em;
  box-sizing: border-box;

  &.status--ok {
    background: adjust-color($success, $lightness: 35%, $saturation: -10%);
    border-color: $success;
    color: adjust-color($success, $lightness: -35%, $saturation: -20%);
  }

  &.status--warning {
    background: adjust-color($warning, $lightness: 35%, $saturation: -10%);
    border-color: $warning;
    color: adjust-color($warning, $lightness: -35%, $saturation: -20%);
  }

  &.status--error {
    background: adjust-color($error, $lightness: 28%, $saturation: -10%);
    border-color: $error;
    color: adjust-color($error, $lightness: -30%, $saturation: -20%);
  }
}

.shortcode-preview {
  padding: 1em;
  background: $gray_200;
  border: 1px solid $gray_400;
  border-radius: 4px;

  &.hidden {
    padding: 0;
    height: 0;
    overflow: hidden;
    opacity: 0;
  }
}

.tweet-preview {
  padding: 2em;
  background: #fff;
  border-radius: 4px;
  border: 1px solid $gray_400;
}
