.shortcode-preview {
  padding: 1em;
  background: $gray_200;
  border: 1px solid $gray_400;
  border-radius: 4px;

  &.hidden {
    padding: 0;
    height: 0;
    overflow: hidden;
    opacity: 0;
  }
}
